html,body{
    height:100%;
}

body {
     margin:0;
     padding:60px 0 0 0;
     font: 16px  FbMiryamNew-Regular ,Arial, Helvetica, sans-serif;
     color: #444;
     line-height:1.5em;
}

/* ------------------------------------------------------- LINKS ------------------------------------------------------------------*/

a, a:link, a:active, a:visited,a:focus{ text-decoration:underline;color:#4f1673;}
a:hover{ text-decoration:none;color:#7420A6;}

a.file {
    padding-right:30px;
    line-height:24px;
    display:inline-block;
    background-position:right center;
    background-repeat:no-repeat;
    text-decoration:none;
}

a.file:hover{
    text-decoration:underline;
}

a.pdf, a.pdf:hover, a.pdf:active, a.pdf:visited{
    background-image:url("../images/pdf.png");
    color:#991605;
}

a.doc, a.doc:hover, a.doc:active, a.doc:visited{
    background-image:url("../images/doc.png");
    color:#2A6099;
}

a.web, a.web:hover, a.web:active, a.web:visited{
    background-image:url("../images/ie.png");
    color:#2A6099;
}

a[href^="tel:"], a[href^="mailto:"],.font-regular {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
}
a[href^="tel:"]{text-decoration:none;}

.links-list p + p{ margin-top:10px;padding-top:10px;border-top:dotted 1px #eee;}

/* ------------------------------------------------------- IMAGES ------------------------------------------------------------------*/

.body-content img {
    max-width:98%;
}
img.bordered{ border:solid 1px #eee;}
img.padded{padding:5px;}
.img-inline{margin:5px;display:block;}


/* --------------------------------------------------- TEXT AND FONT ---------------------------------------------------------------*/

@font-face {
    font-family: 'FbMiryamNew-Regular';
    src: url("../fonts/FbMiryamNew-Regular.ttf"),
         url("../fonts/FbMiryamNew-Regular.woff")  format('woff');
}

@font-face {
    font-family: 'FbMiryamNew-Bold';
    src: url("../fonts/FbMiryamNew-Bold.ttf"), 
        url("../fonts/FbMiryamNew-Regular.woff")  format('woff');
}

p.section{padding:8px 0;margin:0;}
p.section + p.section{border-top:dotted 1px #eee;}
.text-lg{font-size:1.2em}
h1.top-header{font-size:6.4em;margin-bottom:0;}
h2{font-size:3.2em}
h3.top-header{font-size:3.2em;margin-bottom:20px;}
.top-header{ margin-top:0; padding-top:0;}
.text-accent-main{ color:#5E2685;}
.text-accent-bold,strong {font-family:FbMiryamNew-Bold, Arial, Helvetica, sans-serif;}
.text-accent-green{color:#66AC3C;}
.text-accent-red{color:red;}
.text-justify{text-align:justify;}
.text-md{font-size:1.2em;}
.text-lg{font-size:1.6em;}
.clear {clear:both;}
p + p {  margin-top:10px;}
ul > li > p + p {  margin-top:0;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: FbMiryamNew-Regular, Arial, Helvetica, sans-serif;
}

/* ------------------------------------------------------ ALERTS ------------------------------------------------------------------*/

.alert{border-radius:0;}

/* ------------------------------------------------------ LAYOUT -------------------------------------------------------------------*/

.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,
.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
    float:right;
    padding:5px;
}

.wrapper{
    min-height:100%;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding:10px;
}

header{
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:5000;
    background-color: #5E2685;
    padding: 6px 0;
}

.header-content{
    color:#fff;
    text-align:center;
    position:relative;
    height:48px;
}

.app-logo{
    display:inline-block;
    width:129px;
    height:48px;
    background:url("../images/company-logo.png") no-repeat center center;
    background-size: auto 100%
}

.topic{
    background-position:right 10px top 36px;
    background-repeat:no-repeat;
    background-size:180px auto;
    padding: 20px 210px 10px 460px;
}

.body-theme{
    background-position:left 10px bottom 10px;
    background-repeat:no-repeat;
    background-size:430px auto;
    background-attachment:fixed;
}

.body-theme-1{background-image:url("../images/theme-1.png")}
.body-theme-2{background-image:url("../images/theme-2.png")}
.body-theme-3{background-image:url("../images/theme-3.png")}
.body-theme-4{background-image:url("../images/theme-4.png")}
.body-theme-5{background-image:url("../images/theme-5.png")}

.image-gallery > a{
    display:inline-block;
    margin:5px;
    border:solid 1px #ddd;
    padding: 7px 5px 5px 5px;
    box-shadow:1px 1px 10px #ddd;
    text-align:center;
    background:#fff;
    font-weight:normal;
}

.image-gallery > a > img{
    max-height:150px;
    display:block;
    margin:0 auto 5px auto;
}

/* -------------------------------------------------------- SIDE NAVIGATION --------------------------------------------------------------*/

.nav-menu {
    width: 300px;
    position: fixed;
    z-index:3000;
    top: 0;
    bottom: 0;
    right: -300px;
    border-left: solid 1px #eee;
    background: #fff;
    background: rgba(255, 255, 255, .98);
    border: solid 1px #e3e3e3;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    padding-top:46px;
    transition:right .3s ease;
}

.nav-menu.expanded{
    right: 0;
}

.nav-links-list{
    list-style:none;
    padding:0;
    margin:10px 0 0 0;
}
 
.nav-links-list > li + li{border-top:dotted 1px rgba(186,169,206,.6);}
.nav-links-list > li{ margin:0 10px;}

.nav-links-list > li > a,.nav-links-list > li > a:active,.nav-links-list > li > a:visited,.nav-links-list > li > a:focus{
    display:block;
    text-align:center;
    text-decoration:none;
    font-size:1.2em;
    padding:10px 0;
}

.nav-links-list > li:not(:first-child) > a:hover{ background:#FAFAFA;}

.nav-links-list > li > a.active,.nav-links-list > li > a.active:hover, 
nav-links-list > li > a.active:active,.nav-links-list > li > a.active:visited,.nav-links-list > li > a.active:focus{
   color:#fff;
   cursor:default;
   background:#5E2685;
}

/* -------------------------------------------------------- NAVIGATION MENU DRAWER TOGGLE --------------------------------------------------------------*/

.menuLink{
    position:absolute;
    top:6px;
    right:9px;
    cursor:pointer;
    height:36px;
    width:36px;
    padding:9px 5px;
    border:solid 1px rgba(255,255,255,.8);
    background: #4f1673;
    border-radius:6px;
}
.menuBar{ 
    height:1px;
    background: #fff;
    background:rgba(255,255,255,.8); 
    display:block;
    transition:transform .3s ease; 
    position:relative;}

.menuLink:hover { border-color: #fff;}
.menuLink:hover > .menuBar { background: #fff;}
.menuBar + .menuBar{  margin-top:7px;}
.menuLink.menu-link-open{ padding-top:15px;background:#DF0000;}
.menuLink.menu-link-open > .menuBar + .menuBar{  margin-top:0;}
.menuLink.menu-link-open > #menuBar1{
    transform: rotate(45deg);
    top:1.45px;
    height:1.45px;
    background: #fff;
}
.menuLink.menu-link-open > #menuBar3{
    transform: rotate(-45deg);
    height:1.45px;
    background: #fff;
}
.menuLink.menu-link-open > #menuBar2 { display:none;}

/* -------------------------------------------------------- FRONT PAGE - MAIN TOPICS LINKS --------------------------------------------------------------*/

.index-footer{
   color:#fff; 
   background-color: #5E2685;
   display:inline-block;
   border-radius:16px;
   padding:10px 0;
}

.index-footer-section{
    display:inline-block;
    padding:6px 90px;
    text-align:right;
}
.index-footer-section p{
    margin:0;
}
.index-footer-section a{
    color:#fff;
    text-decoration:none;
}
.index-footer-section a:hover{
    text-decoration:underline;
}

.welcome{
    padding-top:20px;
}

.main-topics{
    text-align:center;
    margin:40px 0;
}

.main-topic-link{
    display:inline-block;
    width:225px;
    height:177px;
    padding:15px;
    text-decoration:none;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:90% auto;
    transition:all .2s ease;
}

.main-topic-link:hover,.main-topic-link:active{ background-size:100% auto;}

.main-topic-link-1,.topic-1{background-image:url("../images/category-1.png")}
.main-topic-link-2,.topic-2{background-image:url("../images/category-2.png")}
.main-topic-link-3,.topic-3{background-image:url("../images/category-3.png")}
.main-topic-link-4,.topic-4{background-image:url("../images/category-4.png")}
.main-topic-link-5,.topic-5{background-image:url("../images/category-5.png")}



/* -------------------------------------------------------- CONTENT TOGGLES --------------------------------------------------------------*/

.content-box{padding:5px 0;}
.content-box img{max-width:98%;}

a.content-box-content-title,a.content-box-content-title-open,a.content-box-content-title-loading
{
    font-size:1.1em;
    display:inline-block;
    line-height:20px;
    padding:5px 0;
}

a.content-box-content-title,a.content-box-content-title:hover,a.content-box-content-title:active,a.content-box-content-title:focus
{
     text-decoration:none;
     line-height:18px;
}

    a.content-box-content-title:before,
    a.content-box-content-title-open:before {
        display: inline-block;
        width: 18px;
        height: 18px;
        line-height:1.1em;
        text-align: center;
        background: #5E2685;
        color: #fff;
        font-size: 16px;
        vertical-align: middle;
        font-family: Verdana;
    }

a.content-box-content-title:before
{
     content:'\0002B';
}

a.content-box-content-title:hover:before
{
     background-color:#7420A6;
}

a.content-box-content-title-open:before
{
    content:'\02212';
}


.content-box-content-main{clear:both;padding:10px 20px; display:none;}
.content-box-content-main h4, .content-box-content-main h3{
    margin-top:20px;
}

.content-box-content-main h4.text-regular{
    font-size:1.1em;
}

.content-box-content-main ul, .content-box-content-main ol{
    margin:0 16px 10px 0;
    padding:0;
}

.content-box-content-main ul > li + li, .content-box-content-main ol > li + li{
    margin-top:5px;
}

.back-to-top {
    position: fixed;
    z-index: 10000;
    left: 0;
    bottom: 0;
    width:52px;
    height:52px;
    cursor:pointer;
    transition: all 0.2s ease-in;
    background:url("../images/scroll_up.png") no-repeat center center;
    opacity: 0.4;
}

.back-to-top:hover{ opacity: .8;}

/* -------------------------------------------------------- TABLES --------------------------------------------------------------*/

.table{ width:auto;}

.table > tbody > tr > td.lg-hd{ font-size:1.1em;}
.table-dictionary > tbody > tr > td:first-child{
    font-family:FbMiryamNew-Bold, Arial, Helvetica, sans-serif;
    font-weight:bold;
    background-color: #f5f5f5;
    white-space:nowrap;
    color:#4f1673;
}
.table-dictionary > tbody > tr > td[colspan="2"]{
   font-family:FbMiryamNew-Regular;font-weight:normal;white-space:normal;
}




/* -------------------------------------------------------- LISTS -----------------------------------------------------------------*/

ul.list-sections{
    list-style:none;
    margin:0;
    padding:0;
}

ul.list-sections > li{
    overflow:hidden;
}

ul.list-sections-lg > li{
    padding:12px;
}

ul.list-sections > li + li{
    border-top:solid 1px #eee;
}

ul.list-sections > li > a{
    display:block;
    padding:10px 0;
    font-size:1.1em;
    text-decoration:none;
}

/* -------------------------------------------------------- RESPONSIVE --------------------------------------------------------------*/

@media (max-width: 967px) {
    ul.list-sections > li > a{
        text-align:center;
    }

    ul.list-sections > li > .col-md-3 {
        float: none;
        width: 100%;
    }
    .index-footer,.index-footer-section{
        display:block;
        background-color: transparent;
    }
    .index-footer-section{
        padding:16px;
        background-color: #5E2685;
        border-radius:16px;
    }

    .index-footer-section + .index-footer-section{
        margin-top:10px;
    }

    .topic{
        background-repeat:no-repeat;
        padding:170px 10px 10px 10px;
        background-size:auto 140px;
        background-position: center top 20px;
    }

    .topic-bg{
        background-size:300px auto;
    }

    .body-theme{
        background-size:320px auto;
    }

    .wrapper{
        background-color:rgba(255,255,255,.9);
    }

    .top-header{
        font-size:2.7em;
        text-align:center;
    }

}


/* ----------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 567px) {
     .nav-menu {  background: rgba(255, 255, 255, .9);}
     .table{ width:100%; }
     .content-box-content-title > small{display:block;}
     .content-box-content-main{padding:10px 0;}
     .main-topic-link{ float:none;display:block;margin:0 auto;}
    .text-lg{font-size:1.2em;}
    .body-theme{
        background-size:220px auto;
    }
    .text-block-mobile{
        display:block;
        margin:0 auto;
    }
    .welcome{
        margin-top:0;
    }
    .image-gallery > a{
        display:block;
        width:100%;
    }

    .image-gallery > a > img{
        max-height:unset;
        width:100%;
    }

    .table-dictionary > tbody > tr > td:first-child{
        white-space:normal;
        width:100px;
    }
 }

@media (max-width: 367px) {
     h1.top-header{font-size:3.4em}
     h3.top-header{font-size:1.7em}
}


